.headerContainer {
	font-family: "Abril Fatface", cursive;
	height: 400px;
	background: no-repeat center/100%
		url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
	display: flex;
	align-items: flex-end;
}
#intorContainer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	color: #222222;
}
#introH1 {
	font-size: 80px;
	padding: 0;
	margin: 0;
}
#introH2 {
	font-size: 38px;
	padding: 0;
	margin: 0;
}
.fullPageContent {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.contentContainer {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.list {
	list-style-type: square;
}
.paragraphContainer {
	font-family: "Josefin Sans", sans-serif;
	color: #222222;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 1.6;
	padding-top: 60px;
}
.paragraphContainer .paragraphH2Capital {
	text-transform: uppercase;
}
.paragraphP {
	font-family: "Merriweather", serif;
	font-size: 15px;
}
.quoteContainer::before {
	content: "“";
	font-family: "Abril Fatface", cursive;
	font-size: 100px;
}
.quoteContainer {
	font-family: "Abril Fatface", cursive;
	font-size: 43px;
	color: #ffffff;
	background-color: #444444;
	padding: 0;
	margin-top: 60px;
	padding-bottom: 30px;
}