input {
  display: block;
  border-color: lime;
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
  height: 70px;
  width: 300px;
}
label {
  display: block;
  font-size: 26px;
  text-transform: uppercase;
  margin-left: 20px;
}
button {
  margin-left: 20px;
  background: lime;
  border: 0;
  border-radius: 25px;
  padding: 30px;
  font-size: 26px;
  text-transform: uppercase;
}